<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %} {% endblock %}</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/cms/css/base.css">
    <link rel="stylesheet" href="/static/common/sweetalert/sweetalert.css">
    <script src="/static/common/sweetalert/sweetalert.min.js"></script>
    <script src="/static/common/sweetalert/zlalert.js"></script>
    <script src="/static/cms/js/base.js"></script>
    <script src="/static/common/zlajax.js"></script>

    {% block head %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Serendipity Content Management System</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{  url_for('cms.profile')  }}">{{g.cms_user.username}}</a></li>
                    <li><a href="{{  url_for('cms.logout')  }}">Logout</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav-sidebar">
                    <li class="unfold"><a href="{{  url_for('cms.index')  }}">Home</a></li>
                    <li class="profile-li">
                        <a href="#">Personal Center<span></span></a>
                        <ul class="subnav">
                            <li><a href="{{  url_for('cms.profile') }}">Personal information</a></li>
                            <li><a href="{{ url_for('cms.resetpwd') }}">Change Password</a></li>
                            <li><a href="{{ url_for('cms.resetemail') }}">Change Email</a></li>
                        </ul>
                    </li>

                    {% set cms_user = g.cms_user %}
                    {% if cms_user.has_permission(CMSPermission.POSTER) %}
                        <li class="nav-group post-manage"><a href="{{ url_for('cms.posts') }}">Post Management</a></li>
                    {% endif %}

                    {% if cms_user.has_permission(CMSPermission.BOARDER) %}
                        <li class="comments-manage"><a href="{{ url_for('cms.comments') }}">Comment Management</a></l>
                    {% endif %}

                    {% if cms_user.has_permission(CMSPermission.BOARDER) %}
                    <li class="board-manage"><a href="{{ url_for('cms.boards') }}">Board Management</a></li>
                    {% endif %}

                    {% if cms_user.has_permission(CMSPermission.FRONTUSER) %}
                        <li class="nav-group user-manage"><a href="{{ url_for('cms.fusers') }}">Front-end User Management</a></li>
                    {% endif %}

                    {% if cms_user.has_permission(CMSPermission.CMSUSER) %}
                        <li class="nav-group cmsuser-manage"><a href="{{ url_for('cms.cusers') }}">CMS User Management</a></li>
                    {% endif %}

                    {% if cms_user.is_developer %}
                        <li class="cmsrole-manage"><a href="{{ url_for('cms.croles') }}">CMS Group Management</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1>{% block page_title %} {% endblock %}</h1>
                <div class="main_content">
                    {% block main_content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>