{% extends 'cms/cms_base.html' %}

{% block title %}
    Personal Information
{% endblock %}

{% block page_title %}

    {{ self.title() }} 

{% endblock %}

{% block main_content %}
    {% set user = g.cms_user %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Username: </td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>暂未实现</td>
            </tr>
            <tr>
                <td>Permission: </td>
                <td>暂未实现</td>
            </tr>
            <tr>
                <td>join_time: </td>
                <td>{{ user.join_time }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}